<ion-view view-title="Configuração" ng-controller="PlaylistsCtrl">
  <ion-content>
    <div class="list">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Meta mensal:</span>
	    <input ng-model="monthlyGoal" type="text" placeholder="$99.999">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Quantos dias trabalho no mês:</span>
	    <input ng-model="workedDays" type="text" placeholder="20">
	  </label>

	  <button ng-click="SellPerDay(monthlyGoal, workedDays)" class="button button-block button-positive">
	  	Atualizar dados
	  </button>

	  <label class="item item-input item-stacked-label">
	  	<h3>Meta de venda por dia: ${{ sellPerDay }}</h3>
	  </label>
	  <label class="item item-input item-stacked-label">
	  	<h3>Meta atual: ${{ goal }}  / {{ monthlyGoal }}</h3>
	  </label>
	</div>	
	<div class="list">
		<label class="item item-input item-stacked-label">
		    <span class="input-label">Quantos porcentos de comissão por venda:</span>
		    <input ng-model="percentageCommission" type="number" placeholder="10">
	  	</label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Valor da venda:</span>
		    <input ng-model="saleValue" type="number" placeholder="99.99">
		  </label>

	  <button ng-click="SumValues(saleValue, percentageCommission)" class="button button-block button-positive">
	  	Atualizar meta e comissão
	  </button>

	  <label class="item item-input item-stacked-label">
	  	<h3>Comissão no mês: ${{ commissionWon }}</h3>
	  </label>
	</div>	

	<!--
	<label class="item item-input item-stacked-label">
	    <span class="input-label">Metal total</span>
	    <input type="text" placeholder="R$">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Porcentagem da Segunda</span>
	    <input type="text" placeholder="%">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Porcentagem da Terça</span>
	    <input type="text" placeholder="%">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Porcentagem da Quarta</span>
	    <input type="text" placeholder="%">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Porcentagem da Quinta</span>
	    <input type="text" placeholder="%">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Porcentagem da Sexta</span>
	    <input type="text" placeholder="%">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Porcentagem da Sábado</span>
	    <input type="text" placeholder="%">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Porcentagem da Domingo</span>
	    <input type="text" placeholder="%">
	  </label

	  -->
  </ion-content>
</ion-view>
