<ion-view view-title="Metas">
  <ion-content>
  	<center>
  		<label class="item item-input item-stacked-label">
	  	<h3>Meta de venda por dia: <br/> ${{ sellPerDay }}</h3>
	  </label>
	  <br/>
	  <!--
	  <label class="item item-input item-stacked-label">
	  	<h3>Meta atual: <br/> ${{ goalCurrent }}  / {{ monthlyGoal }}</h3>
	  </label>
	  -->

	  <div class="list">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Valor da venda:</span>
	    <input ng-model="saleValue" type="number" placeholder="0">
	  </label>

	  <button ng-click="SumValues(saleValue, percentageCommission)" class="button button-block button-positive">
	  	Atualizar meta e comissão
	  </button>
	</div>
	<!--
	<label class="item item-input item-stacked-label">
  		<h3>Comissão no mês: ${{ commissionWon }}</h3>
  	</label>
  	-->
  	</center>
  </ion-content>
</ion-view>
