<ion-view view-title="Metas">
  <ion-content>
  <!--
    <div class="list">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Metal do Mês</span>
	    <input type="text" readonly placeholder="R$">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Meta da segunda</span>
	    <input type="text" readonly placeholder="%">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Meta da Terça</span>
	    <input type="text" readonly placeholder="%">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Porcentagem da Quarta</span>
	    <input type="text" readonly placeholder="%">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Porcentagem da Quinta</span>
	    <input type="text" readonly placeholder="%">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Porcentagem da Sexta</span>
	    <input type="text" readonly placeholder="%">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Porcentagem da Sábado</span>
	    <input type="text" readonly placeholder="%">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Porcentagem da Domingo</span>
	    <input type="text" readonly placeholder="%">
	  </label>	  
	</div>
	-->
  </ion-content>
</ion-view>
